.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.p-1 {
  padding: 4px;
}

.p-3 {
  padding: 16px;
}

.flex-grow-1 {
  flex-grow: 1;
}

.align-stretch {
  align-items: stretch;
}

.align-center {
  align-items: center;
}

.gap-1 {
  gap: 4px;
}

.main {
  --padding: 24px;

  height: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  gap: 16px;
  padding: var(--padding);
}

.graph-container {
  grid-column: 1 / -1;
  grid-row: 1 / 4;
  z-index: 0;
  position: absolute;
  inset: 0px;
}

.graph-container:after {
  content: '';
  position: absolute;
  inset: 0px;
  pointer-events: none;

  --scale: 1.5;
  box-shadow: inset 0px 0px calc(var(--padding) * var(--scale)) calc(var(--padding) * var(--scale))
    var(--page-bg);

  /* Blured border or padding */
  /*   
  --fill: linear-gradient(to right, black, transparent var(--padding) calc(100% - var(--padding)), black),
    linear-gradient(to bottom, black, transparent var(--padding) calc(100% - var(--padding)), black);

  mask: var(--fill);
  backdrop-filter: blur(100px);
  background-color: rgba(36, 36, 36, 0.3); 
  */
}

#visible-graph-area {
  grid-column: 1;
  grid-row: 1 / 4;
  pointer-events: none;
}

textarea,
input {
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  background-color: rgb(59, 59, 59, 0.9);
  font-size: 1rem;

  resize: none;
}

.dfa-controls.disabled {
  filter: blur(1px);
  cursor: not-allowed;
  user-select: none;
}

.dfa-controls.disabled * {
  pointer-events: none;
}

.dfa-controls-input-container {
  position: relative;
  font-size: 1.25rem;
  height: calc(1.5rem + 1.25rem);
  padding-bottom: 1.25rem;
}

.dfa-controls-input-container input {
  position: absolute;
  inset: 0 0 auto 0;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 1ch;
  font-size: 1em;
  border: 0px;
  padding: 0px;
  background-color: transparent;
  color: transparent;
  caret-color: white;
  height: 1.5rem;
}

.dfa-controls-input-container input:focus,
.dfa-controls-input-container input:active,
.dfa-controls-input-container input:focus-visible {
  outline: 0px;
  /* box-shadow: inset 0px -3px 0px -1px rgba(255, 255, 255, 0.5); */
}

.dfa-controls-input-container .dfa-controls-input-letter {
  width: 1ch;
  margin-right: 1ch;
}

.cursor-pointer {
  cursor: pointer;
}

.state-row {
  transition: 0.25s ease-in-out;
}

.state-row.dragging {
  background-color: rgba(59, 59, 59, 0.5);
  box-shadow: 0px 0px 4px 4px rgba(59, 59, 59, 0.5);
  transform-origin: center;
  transform: scale(1.005);
}

.dfa-designer:not(.dragging) .state-row .drag-btn {
  cursor: grab;
}

.dfa-designer.dragging {
  cursor: grabbing;
}

.dfa-designer.dragging .state-row * {
  pointer-events: none;
}

.dfa-designer-transition-input:invalid {
  background-color: red;
}

.right-panel {
  grid-column: -2;
  grid-row: 1;

  max-width: 350px;
  max-height: 100%;

  display: flex;
  flex-direction: column;

  gap: 12px;
  z-index: 1;
  overflow: auto;
}

.panel {
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);

  padding: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(9px);
  border-radius: 4px;

  min-height: 0;
  max-width: 100%;
  overflow: hidden;

  flex-shrink: 0;
}

.panel-title {
  display: flex;
  align-items: center;
  padding: 4px 4px;
  justify-content: center;
}

.panel-title:not(:last-child) {
  margin-bottom: 8px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgba(126, 126, 126, 0.3);
}

.panel-content {
  min-height: 0;
  max-height: 100%;
}

.dfa-designer {
  overflow-y: auto;
  overflow-x: hidden;
}

.dfa-designer-panel {
  flex: 0 1 auto;
}
