button {
  cursor: pointer;

  --bg: rgb(59, 59, 59, 0.9);
  --hover-bg: rgb(59, 59, 59, 0.9);
  --padding-block: 2px;
  --padding-inline: 6px;

  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  background-color: var(--bg);
  font-size: 1rem;
  transition: background-color 0.25s linear;
  padding: var(--padding-block) var(--padding-inline);
}

button:hover {
  background-color: var(--hover-bg);
}

.icon-btn {
  --bg: transparent !important;
  --hover-bg: rgb(59, 59, 59, 0.9);
  --padding-inline: 4px;
  --padding-block: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  width: fit-content;
  height: fit-content;
  aspect-ratio: 1;

  border-color: transparent;
  margin: 4px;
}

.btn-danger {
  --bg: rgba(255, 0, 0, 0.7);
  --hover-bg: rgba(255, 0, 0, 0.4);
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

input[type='checkbox'],
input[type='radio'] {
  --bg: rgb(59, 59, 59, 0.9);
  --active-bg: white;

  appearance: none;
  margin: 0px;
  width: 1rem;
  height: 1rem;

  cursor: pointer;
  position: relative;
  background: var(--bg);
}

input[type='checkbox']::before,
input[type='radio']::before {
  content: ' ';
  position: absolute;
  inset: 0px;
  pointer-events: none;
  user-select: none;

  background: var(--active-bg);
  transform-origin: bottom left;

  transition: 0.25s ease-out;
}

input[type='checkbox']::after {
  content: ' ';
  position: absolute;
  inset: 1px;
  pointer-events: none;
  user-select: none;

  background: var(--bg);
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type='checkbox']::before {
  inset: 50%;
}

input[type='checkbox']:checked::before {
  inset: 0%;
}

input[type='checkbox']:checked::after {
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type='radio'] {
  contain: paint;
  border-radius: 50%;
}

input[type='radio']::before {
  clip-path: circle(0%);
  border-radius: 50%;
  inset: 2px;
}

input[type='radio']:checked::before {
  clip-path: circle(100%);
}
