html,
body,
#app {
  margin: 0px;
  height: 100%;
  width: 100%;
}

:root {
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);

  --page-bg: #242424;
  background-color: var(--page-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  font-family: inherit;
}

.svg-input:focus,
.svg-input:active {
  opacity: 1;
}

.svg-input:not(:focus, :active) {
  opacity: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
}

input {
  cursor: pointer;
}

@supports not selector(--webkit--scrollbar) {
  * {
    scrollbar-color: orange transparent;
    scrollbar-width: thin;
  }
}

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: transparent;
}

/* Add a thumb */
*::-webkit-scrollbar-thumb {
  background-image: linear-gradient(hsl(15deg 100% 50%), hsl(75deg 100% 50%));
  opacity: 0.3;
  border-radius: 4px;
}

.lucide {
  height: 1em;
  width: 1em;
}
